/*搜索框*/
.seek {
	margin-left: 10%;
	width: 80%;
	background-color: white;
	padding-bottom: 10px;
	background-color: #00862e; 
}

.seek input {
	width: 80%;
	font-size: .8rem;
	border: 0;
	outline: 0;
	text-indent: 5px;
	border-color: white;
	/*line-height: 25px;*/
	height: 25px;
	border-radius: 0;
}

.seek button {
	width: 20%;
	float: right;
	font-size: .8rem;
	border: 0;
	outline: 0;
	background-color: white;
}

.seek button img {
	width: 18px;
	margin-left: -45%;
	margin-top: 3px
}

.seek button span {
	display: block;
	margin-left: 45%;
	margin-top: -45%;
	line-height: 22px;
	/*color: #abadae;*/
}
