.new_add {
	width: 1208px;
	border: 1px solid #00862E;
	text-align: center;
}
.new_add h2 {
	margin: 20px auto;
}
.new_add input {
	text-indent: 5px;
	margin-left: 50px;
	/*margin-bottom: 20px;*/
	width: 300px;
	height: 30px;
}
.new_add textarea {
	margin-left: 50px;
	/*margin-bottom: 20px;*/
	width: 300px;
	height: 30px;
	text-indent: 5px;
	line-height: 30px;
}
#btn1:hover {
	cursor: pointer;
	background-color: #00862E;
}
.change0 img {
	width: 80px;
	margin-left: -90px;
}
